.title {
    color:rgb(98, 146, 188);
}
.second {
    background-color: brown;
}
.links {
    padding:20px 10px;
    background:#eee;
    color:red;
}
.links1 {
    padding:20px 10px;
    background:#eee;
    color:blue;
}
.links2 { 
    padding:20px 10px;
    background:#eee;
    color:green;
}
 .card {
    background:#eee;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    height: 80px;
    border-bottom: 1px solid black;
 }
 .card__title {
    margin:0;
 }
 .card__content {
    color:blueviolet;
    opacity: 0.5;
    margin: 0;

 }
.card__title--is-red {
    color:red;
}
.card__title--is-blue {
    color:blue;
}
.card__title--is-green {
    color:green;
}
.cards-container {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;


}