.about-us {
  padding-top: 65px;
  padding-bottom: 62px;
}
.about-image {
  display: block;
  margin-left: auto;
  width: 1407px;
  height: 675px;
  object-fit: cover;

  @media (max-width: 767px) {
    width: 100%;
    aspect-ratio: 1.6;
    height: auto;
  }
}
.wrapper-about {
  position: relative;
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  &__text {
    background-color: #ffffff;
    box-sizing: border-box;
    left: 0;
    padding: 80px 20px 50px 51px;
    position: absolute;
    width: 791px;

    @media (max-width: 767px) {
      padding: 15px;
      position: relative;
      width: 100%;
    }

    &::after {
      background-color: #44c697;
      border-radius: 0 3px 3px 0;
      bottom: 0;
      content: "";
      position: absolute;
      right: -15px;
      top: 0;
      width: 15px;
    }
  }
  .wrapper-about__text p {
    line-height: 125%;
    font-weight: 400;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 18px;

    @media (max-width: 767px) {
      font-size: 12px;
    }
  }
  .wrapper-about__text strong {
    color: #44c697;
    font-weight: 700;
    text-transform: uppercase;
  }
}
