.section-hero {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  height: 670px;
  font-size: 53px;
  line-height: 64px;
  left: 51px;
  max-width: 462px;
  background-color: #ffffff;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px 0px 20px;
  box-sizing: border-box;

  &::before {
    background-color: #44c697;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 15px;
  }

  &__new {
    margin: 0;
  }
  &__text-one {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin: 0;
    font-size: 36px;
    margin-top: 40px;
  }
  &__text-two {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 125%;
    text-align: center;
    margin: 0;
  }
  &__numbers-wrapper {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 55px;
  }
  &__number-current {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    font-size: 34px;
    margin: 0;
    line-height: 1;
  }
  &__number-all {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    margin: 0;

    padding: 8px 0 0px 2px;
  }
  &__buttons {
    align-items: center;
    display: flex;
    gap: 7px;
    padding: 12px 0px 0 0;
    cursor: pointer;

    &-arrow-right {
      background-color: black;
      color: white;
      border-radius: 50%;
      border: 1px solid #1e2e36;
      cursor: not-allowed;
      opacity: unset;
      pointer-events: all;
      width: 32px;
      height: 31px;
      fill: none;
      display: flex;
      justify-content: center;
      transform: rotate(180deg);
      background-color: black;
      color: white;
      padding: 9px 0 0 0;
      cursor: pointer;
    }

    &-arrow-left {
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #1e2e36;
      cursor: not-allowed;
      opacity: unset;
      pointer-events: all;
      width: 32px;
      height: 31px;
      fill: none;
      display: flex;
      justify-content: center;
      padding: 8px;
      cursor: pointer;
    }
  }
  &__action {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #44c697;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    margin-top: 30px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    text-decoration: none;
    align-self: center;
    padding: 12px 20px;
    min-width: 205px;
    border-radius: 3px;
    border: 2px solid #44c697;
    box-sizing: border-box;
    transition: 300ms all ease;
    cursor: pointer;

    &:hover {
      color: #44c697;
      background-color: #ffffff;
    }

    &:focus,
    &:active {
      background-color: #ffffff;
      box-shadow: 0 0 0 3px rgb(68 198 151 / 50%);
      color: #44c697;
    }
  }
  &__picture-big {
    position: relative;
    z-index: 0;
    max-width: 100%;
  }
}
