.section-hero-wrapper {
  display: flex;
  flex-direction: column;
  @media (max-width: 767px) {
    padding-top: 30px;
  }
}

.section-hero {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  min-height: 670px;
  height: auto;
  left: 51px;
  max-width: 462px;
  background-color: #ffffff;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px 0 20px;
  box-sizing: border-box;
  overflow: hidden;

  @media (max-width: 1919px) {
    padding: 15px;
    min-height: auto;
  }
  @media (max-width: 1439px) {
    padding-top: 25px;
    min-height: auto;
    left: 15px;
    max-width: 35%;
  }
  @media (max-width: 1023px) {
    padding: 15px;
    left: 30px;
    min-height: auto;
    max-width: 40%;
  }
  @media (max-width: 767px) {
    order: 1;
    position: relative;
    left: 0;
    padding: 15px;
    min-height: 0;
    max-width: 100%;
  }

  @media (max-width: 374px) {
    max-width: 100%;
    padding: 15px;
    width: 100%;
  }

  &::before {
    background-color: #44c697;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 15px;

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__label {
    margin: 0;
    text-align: center;
    font-size: 53px;
    line-height: 1.2;

    @media (max-width: 1439px) {
      font-size: 32px;
    }
    @media (max-width: 1023px) {
      font-size: 37px;
    }
    @media (max-width: 767px) {
      font-size: 36px;
    }

    @media (max-width: 374px) {
      font-size: 34px;
    }
  }
  &__title {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 36px;
    margin: 40px 0 0;
    position: relative;
    justify-content: center;
    display: flex;
    text-align: center;

    @media (max-width: 1439px) {
      margin: 0;
      padding: 15px;
      font-size: 22px;
    }
    @media (max-width: 1023px) {
      font-size: 24px;
      margin: 30px 0 0;
    }
    @media (max-width: 767px) {
      margin: 0;
      font-size: 22px;
    }

    @media (max-width: 374px) {
      margin: 0;
      padding: 15px;
      font-size: 30px;
    }
  }
  &__description {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 125%;
    margin: 0;
    padding: 0 0 35px 0;
    justify-content: center;
    display: flex;
    text-align: center;

    @media (max-width: 1439px) {
      font-size: 24px;
      padding: 15px;
    }
    @media (max-width: 1023px) {
      padding: 0 0 25px 0;
      font-size: 25px;
    }
    @media (max-width: 767px) {
      font-size: 22px;
      padding: 0 0 20px 0;
    }

    @media (max-width: 374px) {
      font-size: 22px;
      padding: 15px;
    }
  }

  &__numbers-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 55px;

    @media (max-width: 1439px) {
      padding-top: 25px;
    }
    @media (max-width: 1023px) {
      padding-top: 20px;
    }

    @media (max-width: 767px) {
      padding-top: 30px;
    }
  }
  &__number-current {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    font-size: 34px;
    margin: 0;
    line-height: 1;
    position: relative;

    @media (max-width: 1439px) {
      font-size: 28px;
    }
    @media (max-width: 1023px) {
      font-size: 24px;
    }
    @media (max-width: 767px) {
      font-size: 26px;
    }

    &--all {
      font-size: 20px;
      padding: 6px 0 0 7px;

      @media (max-width: 1439px) {
        font-size: 14px;
      }
      @media (max-width: 1023px) {
        font-size: 14px;
      }
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
  }
  &__buttons {
    align-items: center;
    display: flex;
    gap: 7px;
    padding: 12px 0 20px 0;
    cursor: pointer;

    @media (max-width: 1439px) {
      padding: 15px;
    }
    @media (max-width: 1023px) {
      gap: 15px;
      padding: 15px;
    }

    @media (max-width: 767px) {
      padding: 15px;
    }

    @media (max-width: 374px) {
      padding: 15px;
    }

    &-arrow {
      color: black;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #1e2e36;
      opacity: unset;
      pointer-events: all;
      width: 32px;
      height: 31px;
      fill: none;
      display: flex;
      justify-content: center;
      padding: 8px;
      cursor: pointer;
      align-items: center;
      transition: 500ms;

      @media (max-width: 374px) {
        width: auto;
        height: auto;
      }
      &--is-right {
        transform: rotate(-180deg);
      }
      &:hover {
        background-color: #1e2e36;
        color: white;
        transition: 400ms;
      }

      &:focus,
      &:active {
        opacity: 80%;
        box-shadow: 0 0 0 3px rgb(0 0 0 / 50%);
        outline: none;
        background-color: #1e2e36;
        color: white;
        transition: 500ms;
      }
    }
  }
  &__action {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #44c697;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    margin-top: 30px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    text-decoration: none;
    align-self: center;
    padding: 12px 20px;
    min-width: 205px;
    border-radius: 3px;
    border: 2px solid #44c697;
    box-sizing: border-box;
    transition: 300ms all ease;
    cursor: pointer;

    &:hover {
      color: #44c697;
      background-color: #ffffff;
    }

    &:focus,
    &:active {
      background-color: #ffffff;
      box-shadow: 0 0 0 3px rgb(68 198 151 / 50%);
      color: #44c697;
    }
  }
}
.section-picture {
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  height: 785px;
  width: 100%;
  object-fit: cover;

  @media (max-width: 1919px) {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 1439px) {
    height: auto;
    width: 100%;
  }
  @media (max-width: 1023px) {
    height: auto;
    aspect-ratio: 1.6;
  }
  @media (max-width: 767px) {
    height: 30vh;
  }
}
