.main-title {
  margin: 39px 0px 53px 0px;
}
.benefits-list {
  padding-top: 58px;
  padding-bottom: 62px;
  margin: 0 auto;
  width: 100%;
  max-width: 1820px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 30px;
  @media (max-width: 2047px) {
    padding: 15px;
    margin: 0;
    max-width: 100%;
  }
  @media (max-width: 1919px) {
    padding: 15px;
    gap: 15px;
    margin: 0;
  }
  @media (max-width: 1439px) {
    padding: 15px;
    gap: 15px;
  }
  @media (max-width: 1023px) {
    gap: 15px;
    padding: 15px;
  }
  @media (max-width: 767px) {
    gap: 15px;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }

  &__item {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    width: 586px;
    height: 350px;
    position: relative;
    overflow: hidden;
    display: flex;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    @media (max-width: 2047px) {
      width: 100%;
      height: 100%;
    }
    @media (max-width: 1919px) {
      width: auto;
      aspect-ratio: 1.5;
      height: auto;
    }
    @media (max-width: 1439px) {
      aspect-ratio: 1;
      width: 100%;
      height: 100%;
    }
    @media (max-width: 767px) {
      width: 100%;
      aspect-ratio: 1.67;
      height: 100%;
    }

    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(30, 46, 54, 0.5),
        rgba(30, 46, 54, 0.5)
      );
    }

    &:hover,
    &:focus {
      .text-block {
        transform: none;
        outline: none;
      }
    }
  }
}

.text-block {
  padding: 0 30px 0 29px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  transform: translateY(60px);
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  transition: 300ms all ease;
  @media (max-width: 2047px) {
    transform: translateY(170px);
    padding: 15px;
  }
  @media (max-width: 1919px) {
    transform: translateY(95px);
    padding: 15px;
  }
  @media (max-width: 1439px) {
    padding: 15px;
    transform: none;
  }
  @media (max-width: 1023px) {
    padding: 0 15px 60px 5px;
    transform: none;
  }
  @media (max-width: 767px) {
    transform: none;
    padding: 15px;
  }

  @media (max-width: 374px) {
    padding: 15px;
  }

  &__description {
    color: white;
    @media (max-width: 2047px) {
      font-size: 30px;
    }
    @media (max-width: 1439px) {
      font-size: 16px;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }

  &__title {
    font-size: 35px;
    color: #ffffff;
    line-height: 125%;
    position: relative;
    margin: 0 0 15px 0;

    @media (max-width: 2047px) {
      font-size: 46px;
    }
    @media (max-width: 1439px) {
      font-size: 24px;
      margin: 0;
      padding: 5px;
    }
    @media (max-width: 1023px) {
      font-size: 30px;
    }
    @media (max-width: 767px) {
      font-size: 25px;
    }

    &::after {
      content: "";
      background-color: #44c697;
      bottom: -5px;
      height: 3px;
      left: 0;
      position: absolute;
      right: 0;
      max-width: 100%;
    }
  }
}

.window-picture {
  position: relative;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;

  object-fit: cover;

  @media (max-width: 1439px) {
    aspect-ratio: 1;
  }
}
