@import "product.scss";

.products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 87px 0 50px;
  list-style: none;
  grid-gap: 46px 30px;
  @media (max-width: 375px) {
    grid-template-columns: repeat(6, 1fr);
  }
}
