.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1820px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}

.default-button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #44c697;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  text-decoration: none;
  align-self: center;
  padding: 11px 20px;
  min-width: 190px;
  border-radius: 3px;
  border: 2px solid #44c697;
  box-sizing: border-box;
  transition: 300ms all ease;
  max-width: 100%;
  cursor: pointer;

  @media (max-width: 767px) {
    font-size: 16px;
    padding: 10px 15px;
  }

  &--is-big {
    padding: 11px 41px;
    @media (max-width: 767px) {
      padding: 10px 30px;
      font-size: 16px;
      min-width: 165px;
    }
  }

  &--is-small {
    min-width: 210px;

    @media (max-width: 767px) {
      min-width: 160px;
    }
  }

  &:hover {
    background-color: transparent;
    color: #44c697;
  }

  &:focus,
  &:active {
    background-color: transparent;
    box-shadow: 0 0 0 3px rgb(68 198 151 / 50%);
    color: #44c697;
    outline: none;
  }
  &--is-normal {
    min-width: 433px;

    @media (max-width: 767px) {
      width: 100%;
      min-width: auto;
      margin-top: 10px;
    }
  }
  &:hover {
    background-color: transparent;
    color: #44c697;
  }

  &:focus,
  &:active {
    background-color: transparent;
    box-shadow: 0 0 0 3px rgb(68 198 151 / 50%);
    color: #44c697;
    outline: none;
  }
}
