.header-info-menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  gap: 12px;
  padding: 0 52px;

  @media (max-width: 1919px) {
    padding: 0 14px 0 0;
    gap: 14px;
  }
  @media (max-width: 1439px) {
    padding: 15px;
    margin: 0;
    gap: 45px;
  }
  @media (max-width: 1023px) {
    gap: 30px;
    padding: 15px;
    margin: 0;
  }
  @media (max-width: 767px) {
    display: none;
  }

  &__item {
    position: relative;
  }
  &__item-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #1e2e36;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
    position: relative;

    @media (max-width: 1919px) {
      font-size: 20px;
    }
    @media (max-width: 1439px) {
      font-size: 22px;
    }
    @media (max-width: 1023px) {
      font-size: 19px;
    }

    &::after {
      content: "";
      position: absolute;
      height: 3px;
      background-color: #44c697;
      left: -1px;
      right: -1px;
      bottom: -3px;
      transform: scaleX(0);
      transform-origin: left;
      transition: 300ms ease all;
    }
    &:hover,
    &:focus {
      &::after {
        transform: scaleX(1);
      }
    }
  }
}
