.category-furniture-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
}
.category-furniture { 
    display:flex;
    flex-direction: column;
    &__icon {

    }
    &__title {}
}