.main-title {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  text-align: center;
  font-size: 46px;
  position: relative;
  margin-bottom: 35px;
  @media (max-width: 767px) {
    font-size: 37px;
  }

  &__green-box {
    background: #44c697;
    width: 20px;
    height: 50px;
    display: inline-block;
    position: absolute;
    z-index: -1;
    transform: translate(-5px, 4px);
    @media (max-width: 767px) {
      height: 37px;
    }
  }
}
