.main-title {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  text-align: center;
  font-size: 46px;
  position: relative;
  margin-bottom: 35px;

  @media (max-width: 2047px) {
    margin: 0;
    padding: 15px;
    font-size: 56px;
  }
  @media (max-width: 1919px) {
    margin: 0;
    padding: 15px;
    font-size: 40px;
  }
  @media (max-width: 1439px) {
    margin: 0;
    padding: 15px;
    font-size: 36px;
  }
  @media (max-width: 1023px) {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  @media (max-width: 767px) {
    font-size: 30px;
    margin: 0;
  }

  @media (max-width: 374px) {
    font-size: 28px;
    margin: 0;
    padding: 15px;
  }

  &__green-box {
    background: #44c697;
    width: 20px;
    height: 50px;
    display: inline-block;
    position: absolute;
    z-index: -1;
    transform: translate(-5px, 4px);
    @media (max-width: 767px) {
      height: 37px;
    }
  }
}
